<div class="example-container" style="margin-left: 20px; margin-top: 20px; margin-bottom: 10px">
  <form (ngSubmit)="onSubmit(); f.reset()" #f="ngForm">
  <mat-form-field appearance="fill">
    <mat-label>Enter your name</mat-label>
    <input name="author" matInput placeholder="Name" required ngModel #author="ngModel">
    <mat-error *ngIf="author.hasError('required')">
      Введите ваше имя!
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" style="margin-left: 8px;">
    <mat-label>Enter your message</mat-label>
    <input name="message" matInput placeholder="Text..." required ngModel #message="ngModel">
    <mat-error *ngIf="message.hasError('required')">
      Введите сообщение!
    </mat-error>
  </mat-form-field>

  <button
    style="margin-left: 8px;"
    type="submit"
    mat-raised-button
    color="primary"
    [disabled]="f.invalid"
  >Send</button>
  </form>
</div>
