<div fxLayout="column" fxLayoutGap="16px grid">
  <div
    fxFlex.xs="100%"
    fxFlex.sm="50%"
    fxFlex.lt-lg="33%"
    fxFlex="25%"
    *ngFor="let message of messages"
  >
<mat-card class="example-card" style="border: 2px solid black; max-width: 700px; padding: 5px 0 0;background-color: lightskyblue; margin-left: 10px; margin-bottom: 15px">
  <mat-card-header style=" border-bottom: 2px solid black; margin-top: 10px">
    <img mat-card-avatar class="example-header-image" style="margin-left: 10px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Google_Messages_logo.svg/1200px-Google_Messages_logo.svg.png" alt="Photo of a Shiba Inu">
    <mat-card-title>{{ message.author }}</mat-card-title>
    <mat-card-subtitle>{{ message.datetime }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content style="background-color: ghostwhite; padding: 10px 10px">
    <p>
      {{ message.message }}
    </p>
  </mat-card-content>
</mat-card>
  </div>
</div>
